In [3]:
%%time
import requests
import pandas as pd

url = 'http://127.0.0.1:5000/argenprop'

# Parámetros de la solicitud
params = {'pais': 'argentina', 'limite': 300}
response = requests.get(url, params=params)

data = response.json()
df = pd.DataFrame(data)

CPU times: total: 1.48 s
Wall time: 5min

De la siguiente forma, se crea un df copiado en la variable df_nay con lo que no corre peligro si se hacen transformaciones y sale mal

In [4]:
df_nay = df.copy()

In [5]:

# Leer el archivo CSV en lugar de un archivo Excel
csv_path = 'C:\\Users\\Usuario\\Desktop\\IGROWKER - REFFINDR\\DataA -Role\\i004-reffindr-back-python\\Data_ficticia\\Users_Ficticios_IA.csv'
df_users = pd.read_csv(csv_path)
df_users

,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password
0,Isaias,Lucena,63142191,+54 9 14-4193-4616,"Calle Charo Jordá 744, Trelew, Argentina",1972-04-26,isaias.lucena@gmail.com,",Lucena26"
1,Susana,Segura,34079113,+54 9 13-4929-6761,"Via Pío Carranza 864, Mar del Plata, Argentina",1972-04-25,susana.segura@gmail.com,_Segura25
2,Cintia,Diaz,91561184,+54 9 20-5624-9452,"Vial Eliana Bárcena 169, La Plata, Argentina",1986-01-03,cintia.diaz@gmail.com,]Diaz03
3,Irma,Campo,78322155,+54 9 15-6016-4939,"Pasaje de Florina Palacios 230, Rosario, Argen...",1950-08-20,irma.campo@gmail.com,#Campo20
4,Hector,Uriarte,65513184,+54 9 21-4623-4951,"Cuesta de Félix Montesinos 439, Rosario, Argen...",1990-03-25,hector.uriarte@gmail.com,?Uriarte25
...,...,...,...,...,...,...,...,...
495,Gracia,Santos,74209416,+54 9 19-5934-1122,"Vial Rómulo Noriega 542, San Miguel de Tucumán...",1969-07-15,gracia.santos@gmail.com,|Santos15
496,Anabel,Alcala,54211584,+54 9 16-4156-9202,"Cuesta de Adolfo Font 300, Rosario, Argentina",1986-05-23,anabel.alcala@gmail.com,`Alcala23
497,Aaron,Cespedes,57106311,+54 9 19-4203-1698,"Vial de Paloma Montes 859, San Salvador de Juj...",1969-01-19,aaron.cespedes@gmail.com,#Cespedes19
498,Lara,Linares,38253095,+54 9 13-4618-6453,"Urbanización de Alfonso Valero 82, Córdoba, Ar...",1989-11-30,lara.linares@gmail.com,;Linares30
499,Pascual,Casares,76298449,+54 9 22-4454-6317,"Ronda Crescencia Quiroga 773, San Salvador de ...",1963-07-30,pascual.casares@gmail.com,[Casares30

In [6]:
df.columns

Index(['Bathrooms', 'Bedrooms', 'CountryName', 'Description', 'Environments',
       'Latitude', 'Longitude', 'Price', 'Seniority', 'StateName', 'Title',
       'img'],
      dtype='object')

In [7]:
df_users.columns

Index(['Name', 'LastName', 'Dni', 'Phone', 'Address', 'BirthDate', 'Email',
       'Password'],
      dtype='object')

In [8]:
df_interes = df[['CountryName','StateName']]
df_interes

    CountryName     StateName
0     Argentina  Buenos Aires
1     Argentina  Buenos Aires
2     Argentina  Buenos Aires
3     Argentina  Buenos Aires
4     Argentina  Buenos Aires
..          ...           ...
295   Argentina       Cordoba
296   Argentina      Santa Fe
297   Argentina  Buenos Aires
298   Argentina  Buenos Aires
299   Argentina  Buenos Aires

[300 rows x 2 columns]

In [ ]:
# Utilización de la nomenclatura correcta para las columnas de interés
df_interes = df_interes.rename(columns={
    'CountryName': 'CountryId'})

#Unión de los df
df_combined = pd.concat([df_interes, df_users],axis=1)

df_combined.columns

Index(['CountryId', 'StateName', 'Name', 'LastName', 'Dni', 'Phone', 'Address',
       'BirthDate', 'Email', 'Password'],
      dtype='object')

In [10]:
# Crear la columna IsProfileComplete que autocomplete con True o False dependiendo de si hay Nulls o no
df_combined['IsProfileComplete'] = df_combined.notnull().all(axis=1)

# Verificar las primeras filas
df_combined.head()

,CountryId,StateName,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete
0,Argentina,Buenos Aires,Isaias,Lucena,63142191,+54 9 14-4193-4616,"Calle Charo Jordá 744, Trelew, Argentina",1972-04-26,isaias.lucena@gmail.com,",Lucena26",True
1,Argentina,Buenos Aires,Susana,Segura,34079113,+54 9 13-4929-6761,"Via Pío Carranza 864, Mar del Plata, Argentina",1972-04-25,susana.segura@gmail.com,_Segura25,True
2,Argentina,Buenos Aires,Cintia,Diaz,91561184,+54 9 20-5624-9452,"Vial Eliana Bárcena 169, La Plata, Argentina",1986-01-03,cintia.diaz@gmail.com,]Diaz03,True
3,Argentina,Buenos Aires,Irma,Campo,78322155,+54 9 15-6016-4939,"Pasaje de Florina Palacios 230, Rosario, Argen...",1950-08-20,irma.campo@gmail.com,#Campo20,True
4,Argentina,Buenos Aires,Hector,Uriarte,65513184,+54 9 21-4623-4951,"Cuesta de Félix Montesinos 439, Rosario, Argen...",1990-03-25,hector.uriarte@gmail.com,?Uriarte25,True